language: php

php:
  - 7.4

before_script:
  - composer self-update
  - composer install
  - cp phpunit.xml.dist phpunit.xml
  - composer phpcs
  - composer phpstan

script:
  - vendor/phpunit/phpunit/phpunit
